@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);


* { padding: 0; margin: 0; }

body{
    font-family: 'Droid Sans', sans-serif;
    font-weight: 700;
    padding: 5%;
    text-align: center;
    color:#ffeda4;
    background-color: #252120; 
}

input::-webkit-input-placeholder{
    opacity: 0.5;
}

input[type=text]{
    -webkit-transition: all 1.3s ease-in-out;
    transition: all 1.3s ease-in-out;     
    padding-left: 35px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 20px;
    display: block;
    width: 39px;
    height: 20px;    
    font-size: 14px;    
    color: #555;
    background-color: #fff;
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
}

img{
    height: 80px;    
}

input[type=text]:focus {
    width: 77%;    
    border-color: transparent;
    
    box-shadow:
    0 0 5px rgb(255, 0, 0),
    0 0 10px rgb(255, 0, 0),
    0 0 20px rgb(255, 0, 0),
    0 0 30px rgb(255, 0, 0),
    0 0 40px rgb(255, 0, 0),
    0 0 60px rgb(255, 0, 0),
    0 0 80px rgb(255, 0, 0);
  }



.title{
    margin-bottom: 15px;
    font-size: 45px;        
    line-height: 0.8em;
    letter-spacing: -0.05em;
    color: #000;
    text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
    -webkit-transform: perspective(300px) rotateX(25deg);
    -moz-transform: perspective(300px) rotateX(25deg);
    -ms-transform: perspective(300px) rotateX(25deg);
    -o-transform: perspective(300px) rotateX(25deg);
    transform: perspective(300px) rotateX(25deg);    
}
